<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Delete Confirmation</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
</head>
<body>
    <p>Are you sure you want to delete "{{hero}}"?</p>
    <form action="{% url 'superheroes:delete' hero.id %} "method="POST">
        {% csrf_token %}
        <input type="submit" name="Confirm">
        <a class="btn btn-sm btn-danger" href="{% url 'superheroes:index' %}">Cancel</a>
    </form>
</body>
</html>